
body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5),#026d62),url(../../bgcover.jpg);
  background-size: cover;
  background-position: center;
}

.bold {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.pointer {
  cursor: pointer;
}

.container {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    color: rgb(216, 216, 216);
    text-shadow: rgb(97, 97, 97);
  }


  /*No account css  */
.no-account {
    color: #fdfdfd;
    font-weight: 400;
    margin-top: auto;
}

.signUp {
text-decoration: none;
color: rgb(229, 229, 229);
}

/* login form css */
.error{
    border: 2px solid #fc4f3c;
  }

  .error-text{
    color: #f05544;
    width: 100%;
    text-align: center;
    margin-top: -0.75rem;
  }

  .LoginInput {
    font-family: 'Outfit', sans-serif;
    padding: 1rem 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: #fdfdfd;
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    outline: none;
  }
/* login */
  .form-inputs {
    margin: 1rem;
  }
/* sign up */
  .form-input-signUp {
    margin: 1rem;
  }

  label {
    width: 100%;
  }

  /* btn-login css */
  .google-btn {
    margin-top: 1.2rem;
    cursor: pointer;
    width: 64px;
    color: #fdfdfd;
    outline-color: black;
  }
/* btn */
  .custom-btn {
    border: none;
    border-radius: 0.5rem;
    background: #f2796b;
    color: #fff;
    width: fit-content;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    cursor: pointer;
  }

/* Logo */
.LogoApp {
  margin-top: 10rem;
  width: 250px;
}