
body {
  font-family: 'Outfit', sans-serif;
}

.bold {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.pointer {
  cursor: pointer;
}

.container {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    color: rgb(216, 216, 216);
    text-shadow: rgb(97, 97, 97);
  }


  /*No account css  */
.no-account {
    color: #fdfdfd;
    font-weight: 400;
    margin-top: auto;
}


/* login form css */
.error{
    border: 2px solid #fc4f3c;
  }

  .error-text{
    color: #f05544;
    width: 100%;
    text-align: center;
    margin-top: 0.75rem;
  }

  .LoginInput {
    font-family: 'Outfit', sans-serif;
    padding: 1rem 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: #fdfdfd;
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    outline: none;
  }
/* login */
  .form-inputs {
    margin: 1rem;
    width: 100%;
  }

  a.SignUp.pointer {
    text-decoration: none;
    color: #fdfdfd;
    margin: 1rem;
  }


  /* btn-login css */
/* btn */
  .custom-btn {
    border: none;
    border-radius: 1.5rem;
    margin: 1rem 1rem;
    background: #f2796b;
    width: fit-content;
    color: #fff;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    cursor: pointer;
  }
  .custom-btn:hover {
    border: none;
    border-radius: 0.5rem;
    background: #f67567;
    color: rgb(103, 103, 103);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    transition: all 0.3s ease-out;
  }


/* Logo */
.LogoApp {
  margin-top: 1rem;
  width: 250px;
}